 <div class="grid-container">
  <mat-grid-list cols="1" rowHeight="350px">

    <mat-grid-tile >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title> General </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-general-stream></app-general-stream>
        </mat-card-content>
      </mat-card>     
    </mat-grid-tile>
</mat-grid-list>
    <mat-grid-list cols="1" rowHeight="650px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title> Stream Properties </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-stream-properties></app-stream-properties>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>

  
  <mat-grid-list cols="1" >
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-title> Customize Event </mat-card-title>
        <mat-card-content style="padding: 32pt;">
          <app-eventgenerator></app-eventgenerator>
          
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
