 <div class="grid-container">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title> General </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-general-stream></app-general-stream>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-title> </mat-card-title>
        <mat-card-content>
          <app-create-stream></app-create-stream>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
