<div style="padding: 32pt; ">
  <div>
    <mat-form-field  appearance="fill" class="urlInput">
      <mat-label>ChronicleDB Url</mat-label>
      <input matInput (change)="updateURL(url.value)" ngModel #url="ngModel"/>
    </mat-form-field>
  </div>
  <div>
    <mat-label class="shadowLabel">{{currentStreamText}}</mat-label>
    
    <button mat-icon-button color="primary" aria-label="refresh current stream" (click) = "refreshCurrentStream()">
      <mat-icon>refresh</mat-icon>
    </button>

    <button mat-raised-button color="primary" style="float: right;" (click)="onCreateStreamClicked()">Create Stream</button>
  </div>
</div>

<div>{{createStreamProperties}}</div>
<div>{{eventProperties}}</div>

