<div>
    <form (ngSubmit)="onInsertEventClicked()">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Timestamp</mat-label>
                <input [formControl]="timestampFormControl" type="number" matInput min=0
                    matTooltip="Define the timestamp needed for the event in ChronicleDB." />
                <mat-error>{{timestampFormControl.errors?.error}}</mat-error>
                <mat-error *ngIf="timestampFormControl.errors?.required">Timestamp required</mat-error>
                <mat-error *ngIf="timestampFormControl.errors?.pattern">Timestamp is no valid number</mat-error>
                <mat-error *ngIf="timestampFormControl.errors?.min">Timestamp is no valid number</mat-error>
                <mat-error *ngIf="timestampFormControl.errors?.chronicleMaxIndex">Timestamp must be larger than
                    {{timestampFormControl.errors?.chronicleMaxIndex}}</mat-error>
            </mat-form-field>
        </div>

        <div>
            <app-insert-data-event-element *ngFor="let eventElement of eventElements; let i = index"
                [element]="eventElement" [varCompound]="data.stream.compoundType!"
                (valueChange)="elementValueChanged(i, $event)" style="margin-right: 8px;">
            </app-insert-data-event-element>
        </div>

        <div>
            <br>
            <button mat-raised-button color="primary" style="float: right; bottom: 20pt" type="submit"
                matTooltip="Insert this event to the selected stream.">
                Insert Event
            </button>
        </div>
    </form>
</div>