<div class="grid-container">
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title> Log In </mat-card-title>
    </mat-card-header>

    <mat-card-content class="card-content login">
      <form #f="ngForm" (ngSubmit)="signIn(f.value)">
        <div>
          <mat-form-field appearance="fill">
            <mat-label for="inputUsername" class="sr-only">Username</mat-label>
            <input matInput type="email" id="inputUsername" name="username" ngModel class="form-control"
              placeholder="Username" required autofocus>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="fill">
            <mat-label for="inputPassword" class="sr-only">Password</mat-label>
            <input matInput type="password" id="inputPassword" name="password" ngModel class="form-control"
              placeholder="Password" required>
          </mat-form-field>
        </div>

        <div *ngIf="invalidLogin">
          <mat-error color="warn">Login failed! Invalid username or password!</mat-error>
        </div>

        <button mat-raised-button color="primary" type="submit" style="margin-top: 32px;">Sign in</button>
      </form>
    </mat-card-content>

  </mat-card>
</div>