<mat-form-field>
  <mat-select placeholder="Select List or Single" name="dataSingleOrList" (selectionChange)="listOrSingleSelectionChanged(dataSingleOrList)" [(ngModel)]="dataSingleOrList">
    <mat-option *ngFor= "let event of eventList" [value]="event.type1">{{event.type1}}</mat-option>
  </mat-select>
</mat-form-field>
&nbsp;
<mat-form-field>
  <mat-select placeholder="Select Type" name="dataType" (selectionChange)="typeSelectionChanged(dataType)" [(ngModel)]="dataType" [disabled]="!dataSingleOrList">
    <mat-option *ngFor="let dataType of currentDataTypeList" [value]="dataType['type2']">{{ dataType["type2"] }}</mat-option>
  </mat-select>
</mat-form-field>
&nbsp;
<mat-form-field>
  <mat-select placeholder="Select Size" name="dataSize" [(ngModel)]="dataSize" [disabled]="!dataType">
    <mat-option *ngFor="let dataSize of currentDataSizeList" [value]="dataSize">{{ dataSize }}</mat-option>
  </mat-select>
</mat-form-field>
&nbsp;
<mat-form-field  *ngIf="dataType === 'String'"   appearance="fill">
  <mat-label>Size</mat-label>
  <input matInput [(ngModel)]="stringSize" />
</mat-form-field>
You selected: {{dataSingleOrList}}  {{dataType}}  {{dataSize}}
&nbsp;&nbsp;


