.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
  .eventSelect{
    font-size: small;
    width: autos;
   
  }
  button[mat-mini-fab] {
    transform: scale(0.7) !important;
   }