<!-- <mat-form-field appearance="fill">
    <mat-label>Timestamp</mat-label>
    <input type="file" matInput matTooltip="Upload a text file containing one or more Events"/>
</mat-form-field> -->

<input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload />

<div class="file-upload">
    <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()" matTooltip="Upload a text file containing one or more Events">
        <mat-icon>attach_file</mat-icon>
    </button>
    &nbsp;
    {{ fileName || "No file uploaded yet." }}

    <button mat-raised-button color="primary" style="float: right;" (click)="onInsertEventClicked()" matTooltip="Insert the events displayed in the preview">
        Insert Event
    </button>
</div>
<div *ngIf="fileContent">
    <mat-form-field class="preview" appearance="fill">
        <mat-label>Preview</mat-label>
        <textarea matInput cdkTextareaAutosize 
        style="font-family: 'Courier New', Courier, monospace;" 
        matTooltip="Enter or edit the Event defined in the selected file."
        [(ngModel)]="fileContent"></textarea>
      </mat-form-field>
</div>