.grid-container {
  padding: 35px;
  padding-bottom: 16px;
}

.dashboard-element {
  margin-bottom: 20px;
  margin-right: 32px;
  border-radius: 25px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.card-content {
  padding: 20pt;
}

.iconButtonInTitle {
  margin-left: 8px;
  top: -3px;
}
