   <mat-card-header>
      <mat-card-title> Add a new User </mat-card-title>
    </mat-card-header>
    <p></p>
    <mat-card-content class="card-content">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group"> 
        <mat-form-field appearance="fill">
            <mat-label >Username</mat-label>
            <input matInput maxlength="20" type ="text" formControlName ="username" >
          </mat-form-field>

      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName ="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
      </div>
      <p></p>
      <mat-checkbox class="example-margin"  formControlName ="isAdmin" (change)="updateCB()">Admin</mat-checkbox>
      &nbsp;
      <mat-checkbox class="example-margin"  formControlName ="canCreateStream" matTooltip="Allow User to create Streams"   >Create Streams</mat-checkbox>
      <p></p>
      <mat-checkbox class="example-margin"  formControlName ="canInsertAll" matTooltip="Allow User to insert into all Streams" >Insert into Streams</mat-checkbox>
      &nbsp;
      <mat-checkbox class="example-margin"  formControlName ="allStreamsAllowed" matTooltip="???" >All Streams allowed</mat-checkbox>
      <p></p>

      <div class="form-group"> 
        <mat-form-field appearance="fill" matTooltip="Choose the Streams that the User can edit" >
            <mat-label>Allowed Streams</mat-label>
            <mat-select  multiple formControlName ="allowedStreams" >
              <mat-option *ngFor="let id of arrayID" [value]="id" >{{id}}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <div class="form-group"> 
        <mat-form-field appearance="fill" matTooltip="???" >
            <mat-label>Allowed ???Insertion??? Streams</mat-label>
            <mat-select  multiple formControlName ="allowedInsertStreams" >
              <mat-option *ngFor="let id of arrayID" [value]="id">{{id}}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <button  [disabled]="this.form.invalid" mat-dialog-close  mat-raised-button color="primary"  (click)="onSubmit()" >
        Add a New User
            </button> 
      &nbsp;
      <button  mat-dialog-close mat-raised-button color="warn"  >
           Cancel
           </button>
    

    </form>
    </mat-card-content>
