.card {
    margin: 20px;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    margin-bottom: 20px;
    margin-right: 50px;
    border-radius: 25px;
}

.card-content {
    padding: 20pt;
}