<div class="padded">
    <h1>Time Travel</h1>

    <mat-form-field appearance="fill"  matTooltip="Please enter the starting timestamp">
        <mat-label>From</mat-label>
        <input value ="" matInput required (change)="valueChange()" ngModel #url="ngModel"  [(ngModel)] ="timeStamp1"/>
    </mat-form-field>

    <mat-form-field appearance="fill"  matTooltip="Please enter the goal timestamp">
        <mat-label>To</mat-label>
        <input value ="" matInput required (change)="valueChange()" ngModel #url="ngModel"  [(ngModel)] ="timeStamp2"/>
    </mat-form-field>
    <br>
    Exclusive
    <mat-slide-toggle [formControl]="toggleInclusive" >
    </mat-slide-toggle>
    Inclusive
    <br><br><br>
    <button mat-raised-button color="primary" style="float: left; bottom: 20pt" (click)="timeTravel()">
        Go!
    </button>
    <br><br>

    <div class="newlines">
        {{ outputInfo }}
    </div>

    <br><br>

    <table #datatable mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
        <ng-container *ngFor="let disCol of columnNames; let colIndex = index" matColumnDef="{{disCol}}">
            <th mat-header-cell *matHeaderCellDef> {{disCol}} </th>
            <td mat-cell *matCellDef="let element"> {{element[disCol]}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
        <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>
        </table>
</div>
