
<div class="example-header">
    <mat-form-field>
      <input matInput  placeholder="Filter">
      <!-- keyup)="applyFilter($event.target.value)" -->
    </mat-form-field>
  </div>
  
  <div class="example-container mat-elevation-z8">
  
    <mat-table [dataSource]="dataSource" matSort>
  
      <!-- Username Column -->
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
      </ng-container>
      
      <!-- vorname Column -->
      <ng-container matColumnDef="vorname">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Vorname </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.vorname}} </mat-cell>
      </ng-container>
  
      <!-- name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>

      <!-- Allowed Streams Column -->
      <ng-container matColumnDef="allowed_streams">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Allowed Streams </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.allowed_streams}} </mat-cell>
      </ng-container>
  
      <!-- aloowed insert  Column -->
      <ng-container matColumnDef="allowed_insert_streams">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Allowed Insert Streams </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.allowed_insert_streams}} </mat-cell>
      </ng-container>
       <!-- created  Column -->
       <ng-container matColumnDef="created">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Created at</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.created}} </mat-cell>
      </ng-container>
       <!-- last logged in insert  Column -->
       <ng-container matColumnDef="last_logged_in">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last logged in at </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.last_logged_in}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>