<mat-card class="dashboard-card">
  <mat-card-content class="card-content">
<div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filter" #input>
    </mat-form-field>
  </div>
  
  <div class="example-container mat-elevation-z8">
  
    <mat-table [dataSource]="dataSource" matSort>
  
      <!-- Username Column -->
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
      </ng-container>
      
      <!-- Allowed Streams Column -->
      <ng-container matColumnDef="allowedStreams">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Allowed Streams </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.allowedStreams}} </mat-cell>
      </ng-container>
  
      <!-- aloowed insert  Column -->
      <ng-container matColumnDef="allowed_insert_streams">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Allowed Insert Streams </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.allowedInsertStreams}} </mat-cell>
      </ng-container>
       <!-- created  Column -->
       <ng-container matColumnDef="isAdmin">
        <mat-header-cell *matHeaderCellDef mat-sort-header> isAdmin</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.isAdmin}} </mat-cell>
      </ng-container>
       <!-- last logged in insert  Column -->
       <ng-container matColumnDef="canCreateStreams">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Can create Streams </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.canCreateStreams}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
       <!-- Row shown when there is no matching data. -->
   <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No User matching the filter "{{input.value}}"</td>
  </tr>
    </mat-table>
    
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  <button mat-button color="accent" (click)="test()" >test</button>
  
</mat-card-content>
</mat-card>